doctype html
html(lang='en')

    head
        
        include includes/head.pug

    body

        h1 This is a gulp starter!

        
        // build:js js/scripts.min.js
        script(src='js/main.js')
        //  endbuild

