doctype html
html(lang='en')

    head
        include includes/head.pug

    body
        // - If you get a error about indentation switch the indent sytle to space or tabs(the one you are using) at the bottom of page

        h1 This is a gulp starter!!!

        // build:js assets/js/scripts.min.js
        script(src='assets/js/app.js')
        //  endbuild

